header {
  width: 100%;
    position: fixed;
    padding: 0rem 0.5rem;
    z-index: 3;
    background-image: url("../img/pngwing.com.png");

    
  
    .navbar-brand {
        text-decoration: none;
       
     }

    .navbar{
        text-decoration: none;
    
       background:transparent !important;
    }

    .navbar-nav{
      margin-right: 5.8rem;
    }
    
    .navbar-nav>li>a {
      text-decoration: none;
      
      margin: 10px;
      padding: 5px;
      border-radius: 10px;
      font-weight: bold;
      letter-spacing: 0.15rem;
      transition: all 0.3s ease-in-out;
      color: #D3A625 !important;
      background-color: #740001;
      
  
      &:hover {
        background:#D3A625;
        color: #740001 !important;
      }
    }
    .navbar-brand{
      width:5%;
      height:5%;
      margin: 0px 40px 0 0;
    }
  
}